<main class="h-screen w-screen">
    <section class="w-full flex flex-col md:flex-row [&>div]:md:w-1/2 [&>div]:border">
        <div class="">
            <p class="text-9xl">1</p>
        </div>
        <div class="">
            <p class="text-9xl">2</p>
        </div>
    </section>
    <section class="w-full flex flex-col md:flex-row [&>div]:md:w-1/2 [&>div]:border">
        <div class="">
            <p class="text-9xl">3</p>
        </div>
        <div class="">
            <p class="text-9xl">4</p>
        </div>
    </section>
</main>

