<main class="h-screen w-screen">

  <!--Modal Prueba de consumo-->
  <div data-te-modal-init
    class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
    id="iniciarprueba" tabindex="-1" aria-labelledby="exampleModalCenteredScrollable" aria-modal="true" role="dialog">
    <div data-te-modal-dialog-ref
      class="pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
      <div
        class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none">
        <div
          class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4">
          <!--Modal title-->
          <h5 class="text-xl font-medium leading-normal text-neutral-800" id="exampleModalCenteredScrollableLabel">
            Prueba de consumo
          </h5>
          <!--Close button-->
          <button type="button"
            class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
            data-te-modal-dismiss aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="h-6 w-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <!--Modal body-->
        <form class="relative p-4" [formGroup]="formPConsumo" (ngSubmit)="savePConsumo()" data-te-input-wrapper-init>
          <div class="p-6">

            <div class="mb-4">
              <label for="name" class="block text-gray-700 font-bold mb-2">Nombre:</label>
              <input class="w-full block border py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" type="text" id="name" name="name" formControlName="name" required />
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 4v.01M12 8v.01M4.93 4.93l.01.01M19.07 19.07l.01.01M1 12h2M21 12h2M4.93 19.07l.01-.01M19.07 4.93l.01-.01">
                </path>
              </svg>
            </div>
            <div *ngIf="
                    formPConsumo.controls['name'].invalid &&
                    (formPConsumo.controls['name'].dirty ||
                    formPConsumo.controls['name'].touched)
                " class="alert alert-danger mt-2">
              El campo name es obligatorio.
            </div>

            <div class="mb-4">
              <label for="category" class="block text-gray-700 font-bold mb-2">Categoría (entity_id):</label>
              <select name="category" id="category" (change)="setCategory($event)"
                class="w-full border border-gray-300 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-blue-500"
                formControlName="category">
                <option *ngFor="let category of categories" value="{{category}}">{{category}}
                </option>
              </select>
            </div>

            <div class="mb-4">
              <label for="device" class="block text-gray-700 font-bold mb-2">Elige el dispositivo: </label>
              <select name="device" id="device"
                class="w-full border border-gray-300 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-blue-500"
                formControlName="device">
                <option *ngFor="let device of devicesCategory" value="{{device.entity_id}}">
                  {{device.attributes.friendly_name}}</option>
              </select>
            </div>

            <div class="mb-4">
              <label for="tipoPrueba" class="block text-gray-700 font-bold mb-2">Tipo de prueba:</label>
              <select id="tipoPrueba" name="tipoPrueba"
                class="w-full border border-gray-300 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-blue-500"
                formControlName="tipoPrueba">
                <option *ngFor="let prueba of TPruebas" value="{{prueba.name}}">{{prueba.name}}</option>
              </select>
            </div>


            <div class="mb-4">
              <label for="socket" class="block text-gray-700 font-bold mb-2">Enchufe:</label>
              <select id="socket" name="socket"
                class="w-full border border-gray-300 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-blue-500"
                formControlName="socket">
                <option  *ngFor="let socket of sockets" value="{{socket.entity_id}}">{{socket.entity_id}}</option>
              </select>
            </div>

          </div>

          <!--Modal footer-->
          <div
            class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4">
            <button type="button"
              class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
              data-te-modal-dismiss data-te-ripple-init data-te-ripple-color="light">
              Cerrar
            </button>
            <button type="submit"
              class="ml-1 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
              data-te-ripple-init data-te-ripple-color="light">
              Iniciar prueba
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--Modal Crear tipo de prueba-->
  <div data-te-modal-init
    class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
    id="creartipoprueba" tabindex="-1" aria-labelledby="exampleModalCenteredScrollable" aria-modal="true" role="dialog">
    <div data-te-modal-dialog-ref
      class="pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
      <div
        class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none">
        <div
          class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4">
          <!--Modal title-->
          <h5 class="text-xl font-medium leading-normal text-neutral-800" id="exampleModalCenteredScrollableLabel">
            Tipo de prueba
          </h5>
          <!--Close button-->
          <button type="button"
            class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
            data-te-modal-dismiss aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="h-6 w-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <!--Modal body-->
        <form class="relative p-4" [formGroup]="formTPrueba" (ngSubmit)="saveTPrueba()" data-te-input-wrapper-init>
          <div class="p-6">

            <div class="mb-4">
              <label for="name" class="block text-gray-700 font-bold mb-2">Nombre:</label>
              <input class="w-full block border py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" type="text" id="name" name="name" formControlName="name" required />
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 4v.01M12 8v.01M4.93 4.93l.01.01M19.07 19.07l.01.01M1 12h2M21 12h2M4.93 19.07l.01-.01M19.07 4.93l.01-.01">
                </path>
              </svg>
            </div>
            <div *ngIf="
                    formTPrueba.controls['name'].invalid &&
                    (formTPrueba.controls['name'].dirty ||
                    formTPrueba.controls['name'].touched)
                " class="alert alert-danger mt-2">
              El campo name es obligatorio.
            </div>

            <div class="mb-4">
              <label for="category" class="block text-gray-700 font-bold mb-2">Categoría (entity_id):</label>
              <select name="category" id="category" (change)="setCategory($event)"
                class="w-full border border-gray-300 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-blue-500"
                formControlName="category">
                <option *ngFor="let category of categories" value="{{category}}">{{category}}
                </option>
              </select>
            </div>

            <div class="mb-4">
              <label for="device" class="block text-gray-700 font-bold mb-2">Elige el dispositivo: </label>
              <select name="device" id="device"
                class="w-full border border-gray-300 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-blue-500"
                formControlName="device">
                <option *ngFor="let device of devicesCategory" value="{{device.entity_id}}">
                  {{device.attributes.friendly_name}}</option>
              </select>
            </div>

            <div>
              <label for="nIntervalos" class="block text-gray-700 font-bold mb-2">Número de intervalos:</label>
              <input class="w-full block border py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" (change)="setNIntervalos($event)" type="number" id="nIntervalos" name="nIntervalos" formControlName="nIntervalos" required />
            </div>

            <div class="mb-4 ml-2" *ngFor="let intervalo of intervalos; let i = index">
              <label for="time{{i}}" class="block mb-2">Tiempo:</label>
              <input class="w-full block border py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" type="number" id="time{{i}}" name="time{{i}}" formControlName="time{{i}}" required />
            
              <label for="script{{i}}" class="block mb-2">Script:</label>
              <select id="script{{i}}" name="script{{i}}"
                class="w-full border border-gray-300 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:border-blue-500"
                formControlName="script{{i}}">
                <option *ngFor="let script of scripts" value="{{script.entity_id}}">{{script.attributes.friendly_name}}</option>
              </select>
            
              <a id="{{i}}" 
              [ngClass]="{
                'rounded-full bg-green-600 text-white mt-2 px-4 py-2 hover:bg-green-300 text-xs ml-2': true,
                'opacity-50 cursor-pointer': !intervalosGuardados[i]
              }"
              (click)="setIntervalo(i, formTPrueba.get('time' + i)!.value, formTPrueba.get('script' + i)!.value)">Guardar intervalo</a>
            </div>

          </div>

          <!--Modal footer-->
          <div
            class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4">
            <button type="button"
              class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
              data-te-modal-dismiss data-te-ripple-init data-te-ripple-color="light">
              Cerrar
            </button>

            <button type="submit"
            class="ml-1 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
            [disabled]="!todosIntervalosGuardados">
              Crear
            </button>

          </div>
        </form>
      </div>
    </div>
  </div>


  <section *ngIf="flagHA; else homeAssistantIU">
    <div class="w-full flex flex-col md:flex-row [&>div]:md:w-1/2">
      <div class="ml-6">
        <button type="button"
          class="ml-2 mb-2 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal 
            text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 
            hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 
            focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none 
            focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
          data-te-toggle="modal" data-te-target="#iniciarprueba" data-te-ripple-init data-te-ripple-color="light"
          (click)="togglePrueba()">
          INICIAR PRUEBA DE CONSUMO
        </button>
        <button type="button"
          class="ml-2 mb-2 inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal 
            text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 
            hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 
            focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none 
            focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
          data-te-toggle="modal" data-te-target="#creartipoprueba" data-te-ripple-init data-te-ripple-color="light"
          (click)="toggleTipoP()">
          CREAR TIPO DE PRUEBA
        </button>
        
        <table *ngIf="PConsumos; else PConsumoEmpty" class="grid content-end">
          <thead class="border-b-2 bg-neutral-800 font-medium text-white">
            <tr class="[&>th]:px-2">
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Categoría</th>
              <th scope="col">Tipo de prueba</th>
              <th scope="col">Fecha</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="rounded-md border-b-2">
            <tr *ngFor="let pConsumo of pagedItems; index as i" (click)="selectedPConsumo(pConsumo, i)"
                [ngClass]="{'bg-blue-200': selectedRow === i}"
                class="hover:bg-blue-200 hover:cursor-pointer [&>th]:font-normal [&>th]:px-2 [&>th]:border-b-2">
              <th class="font-medium">{{(currentPage - 1) * itemsPerPage + i + 1}}</th>
              <th>{{pConsumo.name}}</th>
              <th>{{pConsumo.category}}</th>
              <th>{{pConsumo.tipoPrueba.name}}</th>
              <th>{{pConsumo.dateTime}}</th>
              <th>
                <svg (click)="delete(pConsumo, 'pconsumo')" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                     fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                </svg>
              </th>
            </tr>
          </tbody>
        </table>
        
        <!-- Controles de Paginación -->
        <div *ngIf="PConsumos && PConsumos.length > itemsPerPage" class="flex justify-center mt-4">
          <button (click)="firstPage()" [disabled]="currentPage === 1" class="px-2 py-1 mx-1 bg-gray-200 rounded">Primera</button>
          <button (click)="prevPage()" [disabled]="currentPage === 1" class="px-2 py-1 mx-1 bg-gray-200 rounded">Anterior</button>
          <span class="px-2 py-1 mx-1">Página {{currentPage}} de {{totalPages()}}</span>
          <button (click)="nextPage()" [disabled]="currentPage === totalPages()" class="px-2 py-1 mx-1 bg-gray-200 rounded">Siguiente</button>
          <button (click)="lastPage()" [disabled]="currentPage === totalPages()" class="px-2 py-1 mx-1 bg-gray-200 rounded">Última</button>
        </div>
        
      <ng-template #PConsumoEmpty>
        <div class="ml-2">
          <p class="text-xl text-red-500">No hay pruebas de consumo</p>
        </div>
      </ng-template>

      </div>
      <div *ngIf="selected_PConsumo; else infoEmpty" class="ml-6">
        <table class="mx-auto">
          <tr>
            <th class="border border-gray-300 px-4 py-2">Nombre:</th>
            <td class="border border-gray-300 px-4 py-2">{{selected_PConsumo.name}}</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Categoría:</th>
            <td class="border border-gray-300 px-4 py-2">{{selected_PConsumo.category}}</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Tipo de prueba:</th>
            <td class="border border-gray-300 px-4 py-2">{{selected_PConsumo.tipoPrueba.name}}</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Dispositivo:</th>
            <td class="border border-gray-300 px-4 py-2">{{selected_PConsumo.device}}</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Enchufe:</th>
            <td class="border border-gray-300 px-4 py-2">{{selected_PConsumo.socket}}</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Fecha:</th>
            <td class="border border-gray-300 px-4 py-2">{{selected_PConsumo.dateTime}}</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Consumo medio:</th>
            <td class="border border-gray-300 px-4 py-2">{{selected_PConsumo.consumoMedio}}</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Tiempo total:</th>
            <td class="border border-gray-300 px-4 py-2">{{selected_PConsumo.timeTotal}}</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Intervalos:</th>
            <td class="border border-gray-300 px-4 py-2">
            <table class="border-collapse">
                <tr>
                  <th class="border border-gray-300 px-4 py-2">Time</th>
                  <th class="border border-gray-300 px-4 py-2">Script</th>
                </tr>
                <tr *ngFor="let intervalo of selected_PConsumo.tipoPrueba.intervalos; let i = index">
                  <td class="border border-gray-300 px-4 py-2">{{intervalo.time}}</td>
                  <td class="border border-gray-300 px-4 py-2">{{intervalo.script}}</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <ng-template #infoEmpty>
        <table class="mx-auto">
          <tr>
            <th class="border border-gray-300 px-4 py-2">Nombre:</th>
            <td class="border border-gray-300 px-4 py-2 text-red-400">Selecciona una fila de prueba de consumo</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Categoría:</th>
            <td class="border border-gray-300 px-4 py-2 text-red-400">Selecciona una fila de prueba de consumo</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Tipo de prueba:</th>
            <td class="border border-gray-300 px-4 py-2 text-red-400">Selecciona una fila de prueba de consumo</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Dispositivo:</th>
            <td class="border border-gray-300 px-4 py-2 text-red-400">Selecciona una fila de prueba de consumo</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Enchufe:</th>
            <td class="border border-gray-300 px-4 py-2 text-red-400">Selecciona una fila de prueba de consumo</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Fecha:</th>
            <td class="border border-gray-300 px-4 py-2 text-red-400">Selecciona una fila de prueba de consumo</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Consumo medio:</th>
            <td class="border border-gray-300 px-4 py-2 text-red-400">Selecciona una fila de prueba de consumo</td>
          </tr>
          <tr>
            <th class="border border-gray-300 px-4 py-2">Tiempo total:</th>
            <td class="border border-gray-300 px-4 py-2 text-red-400">Selecciona una fila de prueba de consumo</td>
          </tr>
        </table>
      </ng-template>
    </div>
    <div class="w-full flex flex-col md:flex-row [&>div]:md:w-1/2 mt-4">
      <div *ngIf="TPruebas; else TPruebasEmpty" class="grid content-end">
        <table class="ml-6">
          <thead class="border-b-2 bg-neutral-800 font-medium text-white">
            <tr class="[&>th]:px-2">
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Categoría</th>
              <th scope="col">Nª intervalos</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="rounded-md border-b-2">
            <tr *ngFor="let tPrueba of TPruebas; index as i" (click)="selectedTPrueba(tPrueba, i)"
              [ngClass]="{'bg-blue-200': selectedRow === i}"
              class="hover:bg-blue-200 hover:cursor-pointer [&>th]:font-normal [&>th]:px-2 [&>th]:border-b-2">
              <th class="font-medium">{{i + 1}}</th>
              <th>{{tPrueba.name}}</th>
              <th>{{tPrueba.category}}</th>
              <th>{{tPrueba.intervalos.length}}</th>
              <th>
                <svg (click)="delete(tPrueba, 'tprueba')" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                  <path
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                </svg>
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <ng-template #TPruebasEmpty>
        <div class="ml-6">
          <p>No hay tipos de prueba</p>
        </div>
      </ng-template>

      <div>
        <ng-container *ngIf="selected_TPrueba; else empty">
            <table class="mx-auto border-collapse">
            <tr>
              <th class="border border-gray-300 px-4 py-2">Nombre:</th>
              <td class="border border-gray-300 px-4 py-2">{{selected_TPrueba.name}}</td>
            </tr>
            <tr>
              <th class="border border-gray-300 px-4 py-2">Categoría:</th>
              <td class="border border-gray-300 px-4 py-2">{{selected_TPrueba.category}}</td>
            </tr>
            <tr>
              <th class="border border-gray-300 px-4 py-2">Dispositivo:</th>
              <td class="border border-gray-300 px-4 py-2">{{selected_TPrueba.device}}</td>
            </tr>
            <tr>
              <th class="border border-gray-300 px-4 py-2">Nº intervalos:</th>
              <td class="border border-gray-300 px-4 py-2">{{selected_TPrueba.intervalos.length}}</td>
            </tr>
            <tr>
              <th class="border border-gray-300 px-4 py-2">Intervalos:</th>
              <td class="border border-gray-300 px-4 py-2">
              <table class="border-collapse">
                  <tr>
                    <th class="border border-gray-300 px-4 py-2">Time</th>
                    <th class="border border-gray-300 px-4 py-2">Script</th>
                  </tr>
                  <tr *ngFor="let intervalo of selected_TPrueba.intervalos; let i = index">
                    <td class="border border-gray-300 px-4 py-2">{{intervalo.time}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{intervalo.script}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </ng-container>

        <ng-template #empty>
          <table class="mx-auto border-collapse">
            <tr>
              <th class="border border-gray-300 px-4 py-2">Nombre:</th>
              <td class="border border-gray-300 px-4 py-2 text-red-400">Selecciona una fila de tipo de prueba</td>
            </tr>
            <tr>
              <th class="border border-gray-300 px-4 py-2">Categoría:</th>
              <td class="border border-gray-300 px-4 py-2 text-red-400">Selecciona una fila de tipo de prueba</td>
            </tr>
            <tr>
              <th class="border border-gray-300 px-4 py-2">Dispositivo:</th>
              <td class="border border-gray-300 px-4 py-2 text-red-400">Selecciona una fila de tipo de prueba</td>
            </tr>
            <tr>
              <th class="border border-gray-300 px-4 py-2">Nº intervalos:</th>
              <td class="border border-gray-300 px-4 py-2 text-red-400">Selecciona una fila de tipo de prueba</td>
            </tr>
            <tr>
              <th class="border border-gray-300 px-4 py-2">Intervalos:</th>
              <td class="border border-gray-300 px-4 py-2">
                <table class="border-collapse">
                  <tr>
                    <th class="border border-gray-300 px-4 py-2">Time</th>
                    <th class="border border-gray-300 px-4 py-2">Script</th>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </ng-template>

      </div>
    </div>
  </section>

  <ng-template #homeAssistantIU>
    <section class="flex justify-center mt-10">
      <div class="bg-slate-50 rounded-md shadow-md">
        <p class="lg:text-4xl text-3xl text-blue-500 text-center mt-4">Home Assistant</p>
        <form class="text-center lg:mx-10 mt-4 [&>div>label]:lg:text-xl grid grid-cols-1 gap-4" [formGroup]="formHA"
          (ngSubmit)="saveHA()">
          <div class="flex flex-col mx-2">
            <label class="text-sm" for="token">Token*:</label>
            <input class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" type="text"
              id="token" name="token" formControlName="token" required />
            <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 4v.01M12 8v.01M4.93 4.93l.01.01M19.07 19.07l.01.01M1 12h2M21 12h2M4.93 19.07l.01-.01M19.07 4.93l.01-.01">
                </path>
              </svg>
            </div>
            <div *ngIf="
                            formHA.controls['token'].invalid &&
                            (formHA.controls['token'].dirty ||
                                formHA.controls['token'].touched)
                        " class="alert alert-danger mt-2">
              El campo Token es obligatorio.
            </div>
          </div>

          <div class="flex flex-col mx-2">
            <label class="text-sm" for="dominio">Dominio*:</label>
            <input class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" type="text"
              id="dominio" name="dominio" formControlName="dominio" required />
            <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
              <svg class="w-5 h-5 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 4v.01M12 8v.01M4.93 4.93l.01.01M19.07 19.07l.01.01M1 12h2M21 12h2M4.93 19.07l.01-.01M19.07 4.93l.01-.01">
                </path>
              </svg>
            </div>
            <div *ngIf="
                            formHA.controls['dominio'].invalid &&
                            (formHA.controls['dominio'].dirty ||
                                formHA.controls['dominio'].touched)
                        " class="alert alert-danger mt-2">
              El campo Token es obligatorio.
            </div>
          </div>

          <div class="mb-4">
            <button type="submit" [disabled]="!formHA.valid"
              [ngClass]="{ 'bg-gray-500 hover:bg-gray-800': !formHA.valid }"
              class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-xl lg:text-2xl px-5 py-2.5 text-center">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </section>
  </ng-template>
</main>