<div class="row">
    <div class="col-2">
        <button class="btn btn-primary">Actualizar estado</button>
    </div>
    <div class="col-10">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Enchufes</h3>
                        <div class="row">
                            <div class="col" *ngFor="let socket of sockets">
                                <div class="card tamanio">
                                    <div class="card-header">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-10 text-start">
                                                    <h3 class="card-title">{{socket.name}}</h3>
                                                </div>
                                                <div class="col text-end">
                                                    <svg (click)="delete(socket.idDevice)" xmlns="http://www.w3.org/2000/svg" width="16"
                                                        height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path
                                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                                        <path
                                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <p class="text-center">{{socket.tipoDevice}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch"
                                                id="flexSwitchCheckDefault{{socket.id}}" (click)="updateDevice($event, 'switch_1', socket)">
                                            <label class="form-check-label" for="flexSwitchCheckDefault{{ socket.id }}">Switch</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="countdown{{ socket.id }}">Cuenta atrás:</label>
                                            <input type="number" class="form-control" id="countdown{{ socket.id }}" min="0" max="86400"
                                                step="1" (change)="updateDevice($event, 'countdown_1', socket)">
                                        </div>
                                        <div class="form-group">
                                            <label for="relayStatus{{ socket.id }}">Estado del relé:</label>
                                            <select class="form-control" id="relayStatus{{ socket.id }}"
                                                (change)="updateDevice($event, 'relay_status', socket)">
                                                <option value="power_off">Apagado</option>
                                                <option value="power_on">Encendido</option>
                                                <option value="last">Último</option>
                                            </select>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch"
                                                id="overchargeSwitch{{ socket.id }}"
                                                (click)="updateDevice($event, 'overcharge_switch', socket)">
                                            <label class="form-check-label" for="overchargeSwitch{{ socket.id }}">Protección contra
                                                sobrecarga</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="lightMode{{ socket.id }}">Modo de luz:</label>
                                            <select class="form-control" id="lightMode{{ socket.id }}"
                                                (change)="updateDevice($event, 'light_mode', socket)">
                                                <option value="relay">Relé</option>
                                                <option value="pos">Posición</option>
                                                <option value="none">Ninguno</option>
                                            </select>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="childLock{{ socket.id }}"
                                                (click)="updateDevice($event, 'child_lock', socket)">
                                            <label class="form-check-label" for="childLock{{ socket.id }}">Bloqueo infantil</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="cycleTime{{ socket.id }}">Tiempo de ciclo:</label>
                                            <input type="text" class="form-control" id="cycleTime{{ socket.id }}"
                                                (change)="updateDevice($event, 'cycle_time', socket)">
                                        </div>
                                        <div class="form-group">
                                            <label for="randomTime{{ socket.id }}">Tiempo aleatorio:</label>
                                            <input type="text" class="form-control" id="randomTime{{ socket.id }}"
                                                (change)="updateDevice($event, 'random_time', socket)">
                                        </div>
                                        <div class="form-group">
                                            <label for="switchInching{{ socket.id }}">Inching de interruptor:</label>
                                            <input type="text" class="form-control" id="switchInching{{ socket.id }}"
                                                (change)="updateDevice($event, 'switch_inching', socket)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>