<button class="btn btn-primary" (click)="addTrue()">Añadir dispositivo</button>

<form *ngIf="add === true" class="form-label">
    <div class="row">
        <label for="idDevice" class="form-label">ID Device</label>
        <input [(ngModel)]="idDevice" name="idDevice" type="idDevice" class="form-control" id="idDevice" required>
    </div>
    <div class="row">
        <label for="tipoDevice" class="form-label">Tipo de dispositivo</label>
        <select [(ngModel)]="tipoDevice" name="tipoDevice" type="tipoDevice" class="form-select" id="tipoDevice" required>
        <option selected disabled value="">Selecciona...</option>
        <option  *ngFor="let opcion of opciones">{{opcion}}</option>
        </select>
        <div class="invalid-feedback">
            Selecciona una opción válida.
        </div>
    </div>
    <button class="btn btn-success" type="submit" (click)="addDevice()">Añadir</button>
</form>