
<div class="container-sm mt-5">
    <div class="row">
        <app-add-device></app-add-device>
    </div>
    <div class="row">
        <div class="mb-3 mb-sm-0">
            <app-thermostat></app-thermostat>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="mb-3 mb-sm-0">
            <app-socket></app-socket>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="mb-3 mb-sm-0">
            <app-bulb></app-bulb>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="mb-3 mb-sm-0">
            <app-video-camara></app-video-camara>
        </div>
    </div>
    <br>
</div>