<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h2>MyHomeIQ</h2>
            <p>Aplicación web para controlar tu Smart Home con dispositivos IoT, diseñada para garantizar la seguridad
                de tus dispositivos IoT, almacenar y procesar datos en tiempo real con inteligencia artificial.</p>
            <h3 class="mt-4">Dispositivos</h3>
            <p>Selecciona la categoría de tus dispositivos IoT.</p>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/thermostat">Termostatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/socket">Enchufes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bulb">Bombillas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/video">Video cámara</a>
                </li>
                <li class="nav-item">
                    <app-add-device></app-add-device>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <h2>Gestión de usuarios</h2>
            <h5>Utilidades y herramientas para el rol administrador</h5>
            <p>Gestión de usuarios para el rol administrador. <br> - Ver listado de usuarios y administradores <br> -
                Crear usuarios y administradores <br> - Modificar usuarios y administradores <br> - Eliminar usuarios y
                administradores</p>
            <h2 class="mt-6">Gestión de dispositivos</h2>
            <h5>Utilidades y herramientas para el rol administrador y usuario</h5>
            <p> Gestión de tu Smart Home <br> - Añadir dispositivos <br> - Ver estado de los
                dispositivos <br> - Gestionar el estado de los dispositivos <br> - Ayuda con inteligencia artificial
                <br> - Ver alertas e informes sobre el estado de tu Smart Home </p>
        </div>
    </div>
</div>