<main class="w-screen">
    <div id="inf-general" class="mx-4">
        <div id="cabecera-consumo-general" class="bg-blue-500 w-full p-8 text-white font-bold text-3xl text-center">
            <!-- Texto para la cabecera de consumo -->
            Consumo General
        </div>
        <div id="info-consumo-general" class="flex flex-col items-center mt-4">
            <div id="etiqueta-consumo-general" class="py-10 text-8xl font-bold text-center">
                <!-- Texto para la etiqueta de consumo general -->
                Etiqueta de Consumo
            </div>
            <div id="medición-consumos-general" class="py-3 flex justify-center space-x-4 mt-4">
                <div id="consumo-diario-general" class="text-center">
                    Consumo Diario (Kw): {{ consumoDiario | number: '1.3-3' }}
                </div>
                <div id="consumo-mensual-general" class="text-center">
                    Consumo Mensual (Kw): {{ consumoMensual | number: '1.3-3' }}
                </div>
                <div id="consumo-anual-general" class="text-center">
                    Consumo Anual (Kw): {{ consumoAnual | number: '1.3-3' }}
                </div>                
            </div>
            <div id="medición-potencia-general" class="py-3 flex justify-center space-x-4">
                <div id="potencia-diaria-general" class="text-center">
                    Potencia Diario (Kw): {{ potenciaDiaria | number: '1.3-3' }}
                </div>
                <div id="potencia-mensual-general" class="text-center">
                    Potencia Mensual (Kw): {{ potenciaMensual | number: '1.3-3' }}
                </div>
                <div id="potencia-anual-general" class="text-center">
                    Potencia Anual (Kw): {{ potenciaAnual | number: '1.3-3' }}
                </div>
            </div>
            <div id="medición-intensidad-general" class="py-3 flex justify-center space-x-4">
                <div id="intensidad-diaria-general" class="text-center">
                    Intensidad Diaria (Kw): {{ intensidadDiaria | number: '1.3-3' }}
                </div>
                <div id="potencia-mensual-general" class="text-center">
                    Intensidad Mensual (Kw): {{ intensidadMensual | number: '1.3-3' }}
                </div>
                <div id="potencia-anual-general" class="text-center">
                    Intensidad Anual (Kw): {{ intensidadAnual | number: '1.3-3' }}
                </div>
            </div>
        </div>
        <div id="add-dispositivo-cabecera" class="bg-gray-500 w-full p-4 text-white font-bold text-lg relative">
            <span class="ml-4">Agregar Dispositivo</span>
            <hr class="absolute bottom-0 left-4 right-0 border-t border-white mt-2">
        </div>        
        <div id="add-dispositivos-general"></div>
    </div>
    <div id="sim-consumos">
        
    </div>
</main>
