<main class="w-screen">
    <div id="inf-general" class="mx-4">
        <div id="cabecera-consumo-general" class="bg-blue-500 w-full p-8 text-white font-bold text-3xl text-center">
            <!-- Texto para la cabecera de consumo -->
            Consumo General
        </div>
        <div id="info-consumo-general" class="flex flex-col items-center mt-4">
            <div id="etiqueta-consumo-general" class="py-10 text-8xl font-bold text-center">
                <!-- Texto para la etiqueta de consumo general -->
                Etiqueta de Consumo
            </div>
            <div id="medición-consumos-general" class="py-4 flex justify-center space-x-4 mt-4">
                <div id="consumo-diario-general" class="text-center">
                    <!-- Texto para el consumo diario -->
                    Consumo Diario (Kw)
                </div>
                <div id="consumo-mensual-general" class="text-center">
                    <!-- Texto para el consumo mensual -->
                    Consumo Mensual (Kw)
                </div>
                <div id="consumo-anual-general" class="text-center">
                    <!-- Texto para el consumo anual -->
                    Consumo Anual ()Kw
                </div>
            </div>
        </div>
        <div id="add-dispositivo-cabecera" class="bg-gray-500 w-full p-4 text-white font-bold text-lg relative">
            <span class="ml-4">Agregar Dispositivo</span>
            <hr class="absolute bottom-0 left-4 right-0 border-t border-white mt-2">
        </div>        
        <div id="add-dispositivos-general"></div>
    </div>
    <div id="sim-consumos">
        
    </div>
</main>
