.etiqueta-A { background-color: #4CAF50; color: white; } /* Verde oscuro */
.etiqueta-B { background-color: #8BC34A; color: white; } /* Verde */
.etiqueta-C { background-color: #CDDC39; color: black; } /* Amarillo verdoso */
.etiqueta-D { background-color: #FFEB3B; color: black; } /* Amarillo */
.etiqueta-E { background-color: #FFC107; color: black; } /* Naranja claro */
.etiqueta-F { background-color: #FF9800; color: white; } /* Naranja */
.etiqueta-G { background-color: #F44336; color: white; } /* Rojo */